body{
background-image:   url("meteorabcg.5d42c524987a.jpg");
background-size: cover;

}
#login-form{

}
#main-title{
   font-size: 150px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-family: 'Caveat', cursive;


}
/*** form style**********************************
/* Your CSS file or <style> tag in HTML */

/* Basic form styles */
#login-form {
    opacity:90%;
    max-width: 500px;
    margin-top: 80px ;

   margin-left: auto;
  margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.login{

}

.form-group {
    margin-bottom: 15px;
}

#login-text{
font-size: 20px;
font-family: 'Nunito', sans-serif;
text-align: center;
}
/* Input field styles */
input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 1;
}

/* Button styles */
button.primaryAction {
    display: block;
    width: 100%;
    height: 43px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button.primaryAction:hover {
    background-color: #0056b3;
}

a.button.secondaryAction {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

a.button.secondaryAction:hover {
    text-decoration: underline;
}


.helptext{
margin-top:10px;
display: block;
}

.my-button{
display: inline-block;
background-color:green;
text-decoration: none;
color: white;
font-family: 'Nunito', sans-serif;
text-align: center;
padding: 10px;
border-radius: 4px;
width: 45%;
margin-top: 5px;
}

.my-button:hover{
background-color: #3c733b;
}

#signup-button{
}

#reset-button{
margin-left: 5px;
}